{% extends "layout.html" %}
{% block title %}{{recipe.title}}{% endblock title %}
{% block content %}
<section class="max-w-3xl mx-auto mt-10 p-6 bg-white ">
    <h1 class="text-2xl font-bold text-center">{{recipe.title}}</h1>
    {% if user == recipe.author %}
    <div class="flex gap-2">
        <form action="{% url 'recipes:delete' recipe.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-md">Delete</button>
        </form>
        <a href="{% url "recipes:edit" recipe.id %}" class="bg-slate-800 text-white px-4 py-2 rounded-md">
            Edit
        </a>
    </div>
    {% endif %}
    <div class="mt-6 flex flex-col gap-4">
        <div class="flex justify-between">
            <span class="text-sm text-gray-500 italic">Posted at: {{recipe.created_at}}</span>
            <span class="text-sm text-gray-500 italic">Last Updated at: {{recipe.updated_at}}</span>
        </div>
        <p class="text-gray-600 text-sm">By {{ recipe.author.username }}</p>
        <div class="flex gap-2">
            {% for tag in recipe.tags_list %}
                <span class="bg-blue-100 text-blue-800 px-2 py-1 text-xs rounded-md">{{ tag }}</span>
            {% endfor %}
        </div>
        {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="mt-2 w-full h-40 object-cover rounded-md">
        {% else %}
            {% load static %}
            <img src="{% static 'img/pancakes.jpg' %}" alt="Fallback Image" class="mt-2 w-full h-40 object-cover rounded-md">
        {% endif %}
        
        <p class="mt-2 text-gray-700 whitespace-pre-line">{{ recipe.recipe}}</p>
        <hr>
        <div class="flex justify-between items-center">
            <h4 class="text-lg font-semibold">
                {{reviews.count}} Reviews 
            </h4>
            {% if user.is_authenticated and user != recipe.author %}
            <a href="{% url "recipes:create-review" recipe.id %}" class="bg-blue-400 px-3 py-2 rounded-md text-white">Review</a>
            {% endif %}
        </div>
        {% for review in reviews %}
            <div class="shadow-md px-4 py-2 rounded-sm">
                <span class="font-bold text-md">
                    By {{review.user}} ({{review.rating}}/5)
                </span>
                <br>
                <span class="italic text-gray-400 font-light text-sm">
                    {{review.created_at}}
                </span>
                <p>Comment: {{review.comment}}</p>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
