<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Layout title here
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% tailwind_css %}


</head>
<body>
    <header class="bg-blue-200 h-[7vh]">
        <div class="h-full flex px-4 py-2 justify-between items-center">
            <h1 class="text-lg">
                {% if user.is_authenticated %}
                <a href="{% url "recipes:list" %}">Cookbook</a>
                {% else %}
                <a href="/">Cookbook</a>
                {% endif %}
            </h1>
            <nav class="flex gap-2">
                <a href="/">About</a>
                {% if user.is_authenticated %}
                <form action="{% url "users:logout" %}" method="post">
                    {% csrf_token %}
                    <button>Logout</button>
                </form>
                <a href="{% url "recipes:create" %}">Create</a>
                {% else %}
                <a href="{% url "users:login" %}">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <main class="min-h-[100vh]">
        {% block content %}{% endblock content %}
    </main>
    <!-- Footer -->
    <footer class="bg-gray-800 text-gray-300 py-6 mt-12 text-center">
        <p>&copy; 2025 Django Cookbook. All Rights Reserved.</p>
    </footer>
</body>
</html>